.burger-menu-button{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #2a2a2a;
    transition: .4s;
}
.burger-menu-button:hover .burger-menu-lines{
    filter: brightness(0.7);
}

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
}
.burger-menu-lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu-lines::before{
    content: '';
    top: -12px;
}
.burger-menu-lines::after{
    content: '';
    top: 12px;
}

.burger-menu-active .burger-menu-button,
.burger-menu-active .burger-menu-lines{
    background-color: transparent;
}
.burger-menu-active .burger-menu-lines::before{
    top: 0;
    transform: rotate(45deg);
}
.burger-menu-active .burger-menu-lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu-nav{
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    left: -100%;
    transition: .5s;
}
.burger-menu-active .burger-menu-nav{
    left: 0;
}

.burger-menu-link{
    padding: 30px;
    font-family: sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}
.burger-menu-link:hover{
    filter: brightness(0.7);
}
.burger-menu-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu-active .burger-menu-overlay{
    display: block;

}