#logo{
    width: 250px;
    min-height: 250px;
    border-radius: 50%;
    background: red;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    min-height: 100vh;
    background: #1e1e1e;
}
